<!-- app/app.component.html -->

<mat-toolbar color="primary" class="banner">
  <h1><img class="cropped-image" 
       src="../assets/images/wmg-logo.png" 
       [routerLink]="['/homePage']"
       routerLinkActive="active"></h1>
  <span class="spacer"></span>
  <button mat-raised-button class="button" color="accent"
  [routerLink]="['home']"
  routerLinkActive="active">HOME</button>
  <button mat-raised-button class="button" color="accent"
  (click)="logout()">LOGOUT</button>
</mat-toolbar>

<router-outlet ></router-outlet>
  
