
<div class="datafileBoardPage">
    <div *ngFor="let cluster of Clusters">
        <mat-card>
            <mat-card-title>{{ cluster.title }}</mat-card-title>
            <mat-card-subtitle>{{ cluster.description }}</mat-card-subtitle>
            <button 
                mat-raised-button (click)="createCluster()" 
                *ngIf="isUserTutor()">Create Cluster
            </button>
            <mat-card-content>
                <table>
                    <tr *ngFor="let file of cluster.files">
                        <td>{{file.title}}</td>
                        <td>{{file.fileType}}</td>
                        <td>{{file.uploader}}</td>
                        <td>{{file.uploadDate}}</td>
                        <td>{{file.fileSize}}</td>
                        <span (click)="download(file.fileId, file.title)">download</span>&nbsp;
                        <span (click)="remove(file.fileId)" *ngIf="isUserTutor()">remove</span>
                    </tr>
                </table>
            <app-file-uploader [clusterId]="cluster.clusterId" [moduleId]="moduleId" *ngIf="isUserTutor()"></app-file-uploader>    
            </mat-card-content>
        </mat-card>
    </div>
    <button 
        mat-raised-button (click)="createCluster()" 
        *ngIf="isUserTutor()">Create Cluster
    </button>
</div>

